body {
  background: url("../images/background.jpg") fixed; //image from https://www.pexels.com/photo/apple-html-macbook-574069/
  background-size: cover;
  padding: 0;
  margin: 0;
  font-family: Calibri, Arial, open-sans, serif;
}